<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>steve.pow</string>
	<key>connections</key>
	<dict>
		<key>99D6D5B6-38BB-4206-B3F3-420B635DDCE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F782A8E4-625F-4D43-809F-2C2DF3F2EC3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F782A8E4-625F-4D43-809F-2C2DF3F2EC3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02082558-711A-4ADB-A8EC-2A11AA8BCB38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>565F36F7-3DFE-4060-9A34-5C8B4255B81C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Steve Lacey</string>
	<key>description</key>
	<string>Powder commands for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>02082558-711A-4ADB-A8EC-2A11AA8BCB38</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>source "${HOME}/.zshrc"

php -f action.php -- "{query}"</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F782A8E4-625F-4D43-809F-2C2DF3F2EC3E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>pow</string>
				<key>script</key>
				<string>source "${HOME}/.zshrc"

php -f search.php -- "{query}"</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>99D6D5B6-38BB-4206-B3F3-420B635DDCE1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>565F36F7-3DFE-4060-9A34-5C8B4255B81C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>02082558-711A-4ADB-A8EC-2A11AA8BCB38</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>565F36F7-3DFE-4060-9A34-5C8B4255B81C</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>99D6D5B6-38BB-4206-B3F3-420B635DDCE1</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>F782A8E4-625F-4D43-809F-2C2DF3F2EC3E</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://stevelacey.net</string>
</dict>
</plist>
